<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group form-group-lg">
        <label class="col-xs-2 control-label" for="formGroupInputEmail">Login</label>
        <div class="col-xs-5">
          <input class="form-control" type="text" id="formGroupInputEmail" placeholder="Name">
        </div>
      </div>
      <div class="form-group form-group-lg">
        <label class="col-xs-2 control-label" for="formGroupInputPassword">E-Mail</label>
        <div class="col-xs-5">
          <input class="form-control" type="password" id ="formGroupInputPassword" placeholder="your@email.com">
        </div>
      </div>
    </form>
  </div>
</div>
