<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group form-group-lg">
        <label class="col-xs-2 control-label" for="loginInput">Login</label>
        <div class="col-xs-5">
          <input class="form-control" type="text" id="loginInput" placeholder="Name">
        </div>
      </div>
      <div class="form-group form-group-lg">
        <label class="col-xs-2 control-label" for="passInput">E-Mail</label>
        <div class="col-xs-5">
          <input class="form-control" type="password" id ="passInput" placeholder="your@email.com">
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-lg">Вход</button>
    </form>
  </div>
</div>
